1. What are data structures, and why are they important?


   -Data structures are ways of organizing and storing data so that they can be accessed and worked with efficiently. Examples include lists, dictionaries, tuples, and sets.

   -Importance:

  -Efficient data access and manipulation

  -Optimize algorithms

  -Better memory management

 -Easier data modeling (e.g., graphs, trees)

2.   Explain the difference between mutable and immutable data types with examples.


    -Mutable: Can be changed after creation.

Example: list, dict, set

In [ ]:
lst = [1, 2, 3]
lst[0]

1

  -Immutable: Cannot be changed after creation.

   -Example: int, str, tuple

In [ ]:
tup = (1, 2, 3)
tup[0]

1

3.   What are the main differences between lists and tuples in Python?


| Feature     | List (`[]`)         | Tuple (`()`)           |
| ----------- | ------------------- | ---------------------- |
| Mutability  | Mutable             | Immutable              |
| Performance | Slower              | Faster (less overhead) |
| Use Case    | Dynamic data        | Fixed data             |
| Methods     | Many (e.g., append) | Few (e.g., count)      |

4.   Describe how dictionaries store data?


  -Dictionaries store data as key-value pairs using a structure called a hash table. Keys are hashed to compute an index in an internal array, allowing fast lookups.

In [ ]:
d = {"name": "Alice", "age": 30}
d

{'name': 'Alice', 'age': 30}

5.   Why might you use a set instead of a list in Python?

   -To Ensure Uniqueness.
   -Faster Membership Testing.
   -Built-in Set Operations

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}

a & b  # intersection: {3}
a | b  # union: {1, 2, 3, 4, 5}
a - b  # difference: {1, 2}

{1, 2}

6.   What is a string in Python, and how is it different from a list?


   -A string is an immutable sequence of characters.

  -Differences from lists:

  -Strings can’t be modified

  -Strings are specifically character sequences

  -Lists can contain any data type

7.   How do tuples ensure data integrity in Python?


   - Tuples are immutable, which means their contents cannot be changed. This ensures the data remains constant and can’t be accidentally altered—ideal for configuration or fixed records.

8.   . What is a hash table, and how does it relate to dictionaries in Python?


   - A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented as hash tables, enabling fast key-based access.

9.   . Can lists contain different data types in Python?



- Yes. Python lists are heterogeneous:

In [ ]:
my_list = [1, "hello", 3.14, [5, 6]]
my_list

[1, 'hello', 3.14, [5, 6]]

10.   Explain why strings are immutable in Python?


   - rings are immutable to:

- Improve performance (interning and memory reuse)

- Enhance security (e.g., hashable keys)

- Make behavior predictable when passed to functions

11.   What advantages do dictionaries offer over lists for certain tasks?


  - Dictionaries offer several key advantages over lists for specific tasks in Python, especially when dealing with key-value relationships and fast data access.

- 1. Fast Lookups by Key
Dictionaries provide O(1) average time complexity for retrieving values by key.

Lists require O(n) time to search for an element by value or index.

In [ ]:
# Dictionary: fast lookup
person = {'name': 'Alice', 'age': 30}
print(person['age'])


person_list = ['Alice', 30]
print(person_list[1])

30
30

2. Better Organization with Key-Value Pairs

- Dictionaries clearly express relationships between data, improving readability and maintainability.

12.   Describe a scenario where using a tuple would be preferable over a list.


- A tuple is preferable over a list in scenarios where:

 1. You Need an Immutable Collection
Tuples cannot be modified (they are immutable), which makes them ideal when the data should not change throughout the program.

In [ ]:
coordinates = (40.7128, -74.0060)  # Latitude and Longitude

2. You Want to Use the Data as a Dictionary Key or Set Element
Only immutable types (like tuples) can be used as keys in dictionaries or elements in sets.

In [ ]:
location_weather = {
    (40.7128, -74.0060): "Sunny",
    (34.0522, -118.2437): "Cloudy"
}
location_weather

{(40.7128, -74.006): 'Sunny', (34.0522, -118.2437): 'Cloudy'}

13.   How do sets handle duplicate values in Python?


  - In Python, sets automatically eliminate duplicate values. When you add duplicate elements to a set, only one instance of each unique value is kept.

In [ ]:
my_set = {1, 2, 2, 3, 3, 3}
print(my_set)

{1, 2, 3}

14.   How does the “in” keyword work differently for lists and dictionaries.


 - List: Checks if a value exists (O(n) time)

- Dict: Checks if a key exists (O(1) time on average)

In [ ]:
3 in [1, 2, 3]         # True
"age" in {"age": 25}   # True
25 in {"age": 25}      # False

False

15.   Can you modify the elements of a tuple? Explain why or why not.


- No, because tuples are immutable. Once created, their contents cannot be altered.

In [ ]:
t = (1, 2)
# t[0] = 10  # Error

16.   What is a nested dictionary? Give an example of its use case.


- A nested dictionary is a dictionary inside another dictionary.

Example:

In [ ]:
users = {
    "vikrant": {"age": 25, "email": "vikrant@example.com"},
    "pwskills": {"age": 30, "email": "pwskills@example.com"}
}
users

{'vikrant': {'age': 25, 'email': 'vikrant@example.com'},
 'pwskills': {'age': 30, 'email': 'pwskills@example.com'}}

17.   Describe the time complexity of accessing elements in a dictionary.

- Average Case Time Complexity: O(1) (Constant Time)
Dictionaries use hash tables internally.

- The key is hashed, and its value is retrieved directly from the corresponding location.

- This makes lookup operations very fast, regardless of dictionary size (on average).

18.   In what situations are lists preferred over dictionaries.


 - While dictionaries are powerful for key-value mappings, lists are better suited in several common scenarios, especially when order and sequences matter.

-  You Need Ordered Data with Duplicates
Lists maintain insertion order and allow duplicate values.

In [ ]:
names = ["Vikrant", "Pw skills", "Vikrant"]
names  # Duplicates are allowed

['Vikrant', 'Pw skills', 'Vikrant']

19.    Why are dictionaries considered unordered, and how does that affect data retrieval?


- Historically in Python , dictionaries were considered unordered because:

- They were implemented using hash tables without any guarantee of the order in which items were inserted.

- The internal ordering of key-value pairs was determined by hash values and could appear random to the user.

So, even if you inserted keys in a specific order, you couldn't rely on retrieving them in that same order.

20.   Explain the difference between a list and a dictionary in terms of data retrieval.

- | Structur| Access Type| Example|

| List       | Index-based | `my_list[0]|

| Dictionary | Key-based   | `my_dict["name"]`|

Lists: Retrieve values using integer indexes (position).

Dictionaries: Retrieve values using unique keys (usually strings or other hashable types).

In [ ]:
# List
student = ["Vikrant", 27]

# Dictionary
student = {"name": "Vikrant", "age": 27}
student

{'name': 'Vikrant', 'age': 27}

### Practical Questions

1.  Write a code to create a string with your name and print it.

In [ ]:
name = "Vikrant"
print("My name is:" ,name)

My name is: Vikrant

2. Write a code to find the length of the string "Hello World".

In [ ]:
text = "Hello World"

length = len(text)

print("The length of the string is:",length)

The length of the string is: 11

3.  Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
text = "python progremming"

sliced_text = text[:3]

print("First three characters:",sliced_text)

First three characters: pyt

4.  Write a code to convert the string "hello" to uppercase.

In [ ]:
text = "hello"

uppercase_text = text.upper()

print("uppercase:",uppercase_text)

uppercase: HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
text = "I like apple"

new_text = text.replace("apple","orange")

print("update string:",new_text)

update string: I like orange

6.  Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1,2,3,4,5]

print("list of numbers:",numbers)

list of numbers: [1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
numbers = [1,2,3,4]

numbers.append(10)

print("update numbers:",numbers)

update numbers: [1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1,2,3,4,5]

numbers.remove(3)

print("update numbers:" , numbers)

update numbers: [1, 2, 4, 5]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
letters = ['a','b','c','d']

second_element = letters[1]

print("second_elements:" , second_element)

second_elements: b

10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
numbers = [10,20,30,40,50,]

numbers.reverse()

print("Reserved list:", numbers)

Reserved list: [50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [1]:
my_tuple = (100, 200 , 300)

print("My touple is:",my_tuple)

My touple is: (100, 200, 300)

12.   Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [3]:
colors = ('red' , 'green','blue', 'yellow')

second_last = colors[-2]

print("The second-to-last element is:",second_last)

The second-to-last element is: blue

13.   Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [4]:
numbers = (10,20,5,15)

min_number = min(numbers)

print("The minimum number in tuple is:",min_number)

The minimum number in tuple is: 5

14.  . Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [6]:
animals = ('dog','cat','rabbit')

cat_index = animals.index('cat')

print("The index of 'cat' is:",cat_index)

The index of 'cat' is: 1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [7]:
fruits = ('apple','banana','cherry')

if 'kiwi' in fruits:
  print("kiwi is in the tuple.")
else:
  print("kiwi is not in the tuple.")

kiwi is not in the tuple.

16.   Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [8]:
my_set = {'a','b','c'}

print("My set is:",my_set)

My set is: {'a', 'c', 'b'}

17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [9]:
my_set = {1,2,3,4,5}

my_set.clear()

print("The set clearing after all elements:",my_set)

The set clearing after all elements: set()

18.   Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [11]:
my_set = {1,2,3,4}

my_set.remove(4)

print("The set after removing 4.",my_set)

The set after removing 4. {1, 2, 3}

19.   Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [12]:
set1 = {1,2,3}
set2 = {3,4,5}

union_set = set1 | set2

print("The union of sets is. ", union_set)

The union of sets is.  {1, 2, 3, 4, 5}

20.   Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [13]:
set1 = {2,2,3}
set2 = {2,3,4}

intersection_set = set1 & set2

print("The intersection of the sets is.",intersection_set)

The intersection of the sets is. {2, 3}

21.   Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [14]:
person = { "name" : "Vikrant",
            "age" : 27,
             "city" : "Shimla"
}
print(person)

{'name': 'Vikrant', 'age': 27, 'city': 'Shimla'}

22.   Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [15]:
person = {'name': 'John', 'age': 25}

person['country'] = 'USA'

print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.   Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [16]:
person = {'name': 'Alice', 'age': 30}

name_value = person['name']

print(name_value)

Alice

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [17]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

del person['age']

print(person)

{'name': 'Bob', 'city': 'New York'}

25.   Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [19]:
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("The 'city' exists in the dictionary.")
else:
    print("The 'city' does not exist in the dictionary.")

The 'city' exists in the dictionary.

26.   Write a code to create a list, a tuple, and a dictionary, and print them all.

In [21]:
my_list = [1, 2, 3, 4, 5]

my_tuple = ('apple', 'banana', 'cherry')

my_dict = {'name': 'Vikrant', 'age': 27, 'city': 'Shimla'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Vikrant', 'age': 27, 'city': 'Shimla'}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [23]:
import random

# Generate a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [10, 49, 63, 73, 85]

28.  Write a code to create a list with strings and print the element at the third index.

In [24]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]


print("Element at index 3:", fruits[3])

Element at index 3: date

29.  Write a code to combine two dictionaries into one and print the result.

In [26]:
dict1 = {'name': 'Vikrant', 'age': 27}
dict2 = {'city': 'Randal', 'country': 'India'}

combined_dict = {**dict1, **dict2}

print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Vikrant', 'age': 27, 'city': 'Randal', 'country': 'India'}

30.  Write a code to convert a list of strings into a set.

In [27]:
string_list = ["apple", "banana", "cherry", "apple", "banana"]

string_set = set(string_list)

print("Set:", string_set)

Set: {'banana', 'apple', 'cherry'}